<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>'ono pan</title>
</head>

<body>
  <input type="submit" value="今すぐ編集する" class='btn btn-primary btn-sm user_profile_edit'>
  <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
</body>
