<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>'ono pan</title>
</head>

<body>
  <%= @user.line_id %>
  <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
</body>
