<strong>LINE Bot ID : @287cbvsm</strong>
<p><a href="http://nav.cx/4XnXhNs"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0"></a></p>
<hr>
<p>パン屋さんはこちらからログインまたはサインアップして下さい</p>
<%= link_to 'ログイン', new_store_session_path %> | 
<%= link_to 'サインアップ', new_store_registration_path %>