<strong>LINE Bot ID : @287cbvsm</strong>
<p><a href='https://line.me/R/ti/p/%40287cbvsm'>QRコードはこちら</a></p>
<hr>
<p>パン屋さんはこちらからログインまたはサインアップして下さい</p>
<%= link_to 'ログイン', new_store_session_path %> | 
<%= link_to 'サインアップ', new_store_registration_path %>