<header class="main-header">
  <a href="/" class="logo">
    <span class="logo-lg"><b>'ono pan</b></span>
  </a>
  <nav class="navbar navbar-static-top" role="navigation">
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li>
          <!-- TODO:右上のメニューボタンを素早く2回押すと、メニュー中身がdisplay: none;になったままになる -->
          <a href="#" data-toggle="control-sidebar"><i class="fa fa-th-large"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</header>