  <aside class="main-sidebar">
    <section class="sidebar">
      <div class="user-panel">
        <div class="pull-left store_info">
          <p><%= image_tag(@store.image.url, :size => "200x150") %></p>
          <p><%= @store.name %></p>
        </div>
      </div>

      <!-- いらなければ削除予定 -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form>

      <ul class="sidebar-menu">
        <!-- 操作しているページをclass="active"に変化させる -->
        <!-- <li class="active"><a href="#"><i class="fa fa-link"></i> <span>Link</span></a></li> -->

        <li><a href="/products"><i class="fa fa-cutlery"></i><span>商品管理</span></a></li>
        <li><a href="/order_slips"><i class="fa fa-file-text-o"></i><span>注文伝票</span><span class='badge order_badge'><%= @number_purchases_count %></span></a></li>
        <li><a href="/number_purchases"><i class="fa fa-book"></i><span>過去売上伝票</span></a></li>
        <li><a href="/user_info"><i class="fa fa-users"></i><span>顧客情報</span></a></li>
        <li><a href="#"><i class="fa fa-pie-chart"></i><span>顧客分析</span></a></li>
      </ul>
    </section>
  </aside>