footer{
  text-align: center;
}

.bg_image{
  position: relative;
  background: url(main_image.jpg) center center / cover no-repeat fixed;
}

.bg_image_login{
  background: url(bg_login.jpg) center center / cover no-repeat fixed;
  display: flex;
  align-items: baseline;
}

.bg_mask{
  position: absolute;
  width: 100%;
  min-height: 100%;
  background: rgba(255,255,255,0.6);
}

.form_frame{
  padding: 15px;
  border-radius: 5px;
  background: rgba(201,166,107,0.6);
}

.store_form{
  position: absolute;
  height: 95%;
  width: 95%;
  overflow: auto;
  line-height: 2;
}

.sign_up_image{
  zoom: 50%;
}

.store_info{
  color: #b8c7ce;
}

.order_badge{
  margin-left: 10px;
}