<h1>商品管理画面</h1>

<%= link_to '新しく商品を登録する', new_product_path, class: 'btn btn-primary btn-sm' %>
<div class='row'>
  <div class='col-md-3 product_frame'>
    AAA
  </div>
  <div class='col-md-3 product_frame'>
    BBB
  </div>
  <div class='col-md-3 product_frame'>
    CCC
  </div>
</div>